@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  height: 100%;
  font-size: clamp(0.8rem, 3vw, 1.5rem);
}
body {
  font-family: "Montserrat", sans-serif;
  padding: 0px;
  margin: 0px;
  background-color: #000;
  color: #fff;
}
button,
input {
  font: inherit;
}
h1,
h2,
h3,
h4 {
  font-weight: 500;
}
main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
